<div class="bg-light h-100 d-flex flex-column">
  <div class="container py-4">

    <!-- Título -->
    <div class="d-flex justify-content-between align-items-center mb-3">
      <h4>Contacts</h4>
      <div class="actions-bar d-flex gap-2">
        <!--Ordenar?-->
        <button
          class="btn btn-outline-warning btn-sm"
          (click)="onFilterFavorite()"
        >
          <i *ngIf="!isFavorite" class="bi bi-star"></i>
          <i *ngIf="isFavorite" class="bi bi-star-fill"></i>
        </button>
        <select
          class="form-select form-select-sm"
          (change)="onFilterCategory($event)"
        >
          <option value="null" selected>Filter by Category</option>
          <option *ngFor="let category of categories" [value]="category.name">
            {{ category.name }}
          </option>
        </select>
        <select
          class="form-select form-select-sm"
          (change)="onFilterGroup($event)"
        >
          <option value="null" selected>Filter by Group</option>
          <option *ngFor="let group of groups" [value]="group.name">
            {{ group.name }}
          </option>
        </select>
        <input
          type="text"
          class="form-control form-control-sm"
          placeholder="Search for Contacts"
          (input)="search($event)"
        />
      </div>
    </div>

    <!-- Grid de Contatos -->
    <div class="row g-3">
      <div
        class="col-md-4"
        *ngFor="
          let contact of contacts
            | paginate
              : { itemsPerPage: itemsPerPage, currentPage: currentPage }
        "
      >
        <div class="contact-card bg-white position-relative overflow-hidden">
          <div
            class="card-actions position-absolute top-0 end-0 p-2 actions-hidden"
          >
            <i
              class="bi bi-pencil text-primary me-2 cursor-pointer fs-5"
              [routerLink]="['edit/', contact.id]"
            ></i>
            <i
              class="bi bi-trash text-danger cursor-pointer fs-5"
              (click)="deleteContact(contact.id)"
            ></i>
          </div>
          <div class="d-flex align-items-center mb-2">
            <div class="avatar-circle bg-primary me-2">
              {{ getInitials(contact.firstname, contact.lastname) }}
            </div>
            <div>
              <strong>{{ contact.firstname + " " + contact.lastname }} </strong
              ><br />
              <small class="text-muted">{{ contact.groups[0]?.name }}</small>
            </div>
          </div>
          <div class="text-muted small">
            <div>
              <i class="bi bi-telephone"></i>
              {{ contact.phones[0].phoneNumber | mask : "(99) 99999-9999" }}
            </div>
            <div>
              <i class="bi bi-envelope"></i> {{ contact.emails[0]?.email }}
            </div>
          </div>
        </div>
      </div>
      <pagination-controls
        (pageChange)="currentPage = $event"
        [autoHide]="true"
        previousLabel="«"
        nextLabel="»"
        class="d-flex justify-content-center mt-3"
      ></pagination-controls>
    </div>
  </div>
</div>
