<form
  [formGroup]="contactForm"
  class="container-fluid m-auto my-3 w-100"
  style="max-width: 70rem"
>
  <!-- Nome e Sobrenome -->
  <div class="row g-2 mb-3">
    <div class="col-12 col-md-6">
      <label class="form-label">Nome</label>
      <input
        formControlName="firstname"
        type="text"
        class="form-control"
        placeholder="Nome"
      />
    </div>
    <div class="col-12 col-md-6">
      <label class="form-label">Sobrenome</label>
      <input
        formControlName="lastname"
        type="text"
        class="form-control"
        placeholder="Sobrenome"
      />
    </div>
  </div>

  <!-- Apelido e Favorito -->
  <div class="row g-2 mb-3">
    <div class="col-12 col-md-6 d-flex align-items-end">
      <div class="form-check form-switch">
        <input
          formControlName="isFavorite"
          type="checkbox"
          class="form-check-input"
        />
        <label class="form-check-label">Favorito</label>
      </div>
    </div>
  </div>

  <!-- Data de Nascimento -->
  <div class="mb-3">
    <label class="form-label">Data de Nascimento</label>
    <input formControlName="birthDate" type="date" class="form-control" />
  </div>

  <!-- E-mails -->
  <div formArrayName="emails" class="mb-3">
    <label class="form-label">E-mails</label>
    <div
      *ngFor="let email of emails.controls; let i = index"
      [formGroupName]="i"
      class="row g-2 mb-2"
    >
      <div class="col-12 col-md-4">
        <input
          formControlName="label"
          class="form-control"
          placeholder="Label"
        />
      </div>
      <div class="col-10 col-md-7">
        <input
          formControlName="email"
          type="email"
          class="form-control"
          placeholder="email@exemplo.com"
        />
      </div>
      <div class="col d-flex align-items-center">
        <i
          class="bi bi-x ms-2"
          style="cursor: pointer"
          (click)="removeEmail(i)"
        ></i>
      </div>
    </div>
    <br />
    <button
      type="button"
      class="btn btn-outline-success btn-sm"
      (click)="addEmail()"
    >
      + Adicionar E-mail
    </button>
  </div>

  <!-- Telefones -->
  <div formArrayName="phones" class="mb-3">
    <label class="form-label">Telefones</label>
    <div
      *ngFor="let phone of phones.controls; let i = index"
      [formGroupName]="i"
      class="row g-2 mb-2"
    >
      <div class="col-12 col-md-4">
        <input
          formControlName="label"
          class="form-control"
          placeholder="Label"
        />
      </div>
      <div class="col-8 col-md-7">
        <input
          formControlName="phoneNumber"
          type="tel"
          mask="(00) 00000-0000"
          class="form-control"
          placeholder="(00) 00000-0000"
        />
      </div>
      <div class="col d-flex align-items-center">
        <i
          class="bi bi-x ms-2"
          style="cursor: pointer"
          (click)="removePhone(i)"
        ></i>
      </div>
    </div>
    <br />
    <button
      type="button"
      class="btn btn-outline-success btn-sm"
      (click)="addPhone()"
    >
      + Adicionar Telefone
    </button>
  </div>

  <!-- Endereços -->
  <div formArrayName="addresses" class="mb-3">
    <label class="form-label">Endereços</label>
    <div
      *ngFor="let address of addresses.controls; let i = index"
      [formGroupName]="i"
      class="border p-3 rounded mb-3"
    >
      <div class="d-flex justify-content-end">
        <i
          class="bi bi-x"
          style="cursor: pointer"
          (click)="removeAddress(i)"
        ></i>
      </div>
      <input
        formControlName="country"
        class="form-control mb-2"
        placeholder="País"
      />
      <div class="row g-2 mb-2">
        <div class="col-12 col-md-10">
          <input
            formControlName="street"
            class="form-control"
            placeholder="Rua"
          />
        </div>
        <div class="col-12 col-md-2">
          <input
            formControlName="number"
            class="form-control"
            placeholder="Número"
          />
        </div>
      </div>
      <div class="row g-2 mb-2">
        <div class="col-12 col-md-6">
          <input
            formControlName="city"
            class="form-control"
            placeholder="Cidade"
          />
        </div>
        <div class="col-12 col-md-3">
          <input
            formControlName="state"
            class="form-control"
            placeholder="Estado"
          />
        </div>
        <div class="col-12 col-md-3">
          <input
            formControlName="postalCode"
            class="form-control"
            placeholder="CEP"
            mask="00000-000"
          />
        </div>
      </div>
      <input
        formControlName="neighborhood"
        class="form-control mb-2"
        placeholder="Bairro"
      />

      <input
        formControlName="complement"
        class="form-control mb-2"
        placeholder="Complemento"
      />
    </div>
    <br />
    <button
      type="button"
      class="btn btn-outline-success btn-sm"
      (click)="addAddress()"
    >
      + Adicionar Endereço
    </button>
  </div>

  <!-- Categorias -->
  <div class="mb-3">
    <label class="form-label">Categorias</label>
    <div class="d-flex flex-wrap gap-2 mb-2">
      <div
        *ngFor="let category of categories.value"
        class="badge bg-light border text-secondary d-flex align-items-center px-2 py-1 rounded-pill"
      >
        {{ category.name }}
        <i
          class="bi bi-x ms-2"
          style="cursor: pointer"
          (click)="removeCategory(category)"
        ></i>
      </div>
      <i
        class="bi bi-plus-lg"
        (click)="openModal(modalAddCategory)"
        style="cursor: pointer"
      ></i>
    </div>
  </div>

  <!-- Grupos -->
  <div class="mb-3">
    <label class="form-label">Grupos</label>
    <div class="d-flex flex-wrap gap-2 mb-2">
      <div
        *ngFor="let group of groups.value; let i = index"
        class="badge bg-light border text-secondary d-flex align-items-center px-2 py-1 rounded-pill"
      >
        {{ group.name }}
        <i
          class="bi bi-x ms-2"
          style="cursor: pointer"
          (click)="removeGroup(i)"
        ></i>
      </div>
    </div>
    <i
      class="bi bi-plus-lg"
      (click)="openModal(modalAddGroup)"
      style="cursor: pointer"
    ></i>
  </div>

  <!-- Notas -->
  <div class="mb-3">
    <label class="form-label">Notas</label>
    <textarea formControlName="note" class="form-control" rows="3"></textarea>
  </div>
  <div class="row mt-4 justify-content-end">
    <div class="col-auto">
      <button type="button" class="btn btn-secondary">Cancelar</button>
    </div>
    <div class="col-auto">
      <button *ngIf="!contactId" type="submit" class="btn btn-primary" (click)="onCeateContact()">
        Criar
      </button>
      <button *ngIf="contactId" type="submit" class="btn btn-primary" (click)="onSaveContact()">
        Salvar
      </button>
    </div>
  </div>
</form>

<ng-template #modalAddCategory let-modal>
  <div class="modal-header">
    <h5 class="modal-title">Adicionar Categoria</h5>
    <button type="button" class="btn-close" (click)="modal.dismiss()"></button>
  </div>
  <div class="modal-body">
    <select
      class="form-select"
      [(ngModel)]="selectedCategory"
      aria-label="Selecione uma categoria"
    >
      <option
        *ngFor="let categorie of selectedCategories"
        [ngValue]="categorie"
        [disabled]="isCategorySelected(categorie)"
      >
        {{ categorie.name }}
      </option>
    </select>
  </div>
  <div class="modal-footer">
    <button class="btn btn-secondary" (click)="modal.close()">Cancelar</button>
    <button class="btn btn-primary" (click)="addCategory(modal)">Salvar</button>
  </div>
</ng-template>

<ng-template #modalAddGroup let-modal>
  <div class="modal-header">
    <h5 class="modal-title">Adicionar Grupo</h5>
    <button type="button" class="btn-close" (click)="modal.dismiss()"></button>
  </div>
  <div class="modal-body">
    <select
      class="form-select"
      [(ngModel)]="selectedGroup"
      aria-label="Selecione um grupo"
    >
      <option
        *ngFor="let group of selectedGroups"
        [ngValue]="group"
        [disabled]="isGroupSelected(group)"
      >
        {{ group.name }}
      </option>
    </select>
  </div>
  <div class="modal-footer">
    <button class="btn btn-secondary" (click)="modal.close()">Cancelar</button>
    <button class="btn btn-success" (click)="addGroup(modal)">Salvar</button>
  </div>
</ng-template>
