<div class="sidebar">
  <h4
    class="text-white text-center unselectable"
    style="cursor: pointer"
    routerLink=""
  >
    Menu
  </h4>

  <a
    routerLink="new"
    class="btn btn-success d-flex align-items-center justify-content-center gap-2 mb-3"
  >
    <i class="bi bi-person-plus-fill"></i>
    Adicionar Contato
  </a>

  <a class="d-flex align-items-center gap-2 mb-2" routerLink="">
    <i class="bi bi-person"></i>
    Contacts
  </a>

  <div
    class="d-flex justify-content-between align-items-center text-white px-3 mb-2"
  >
    <div class="d-flex align-items-center gap-2">
      <i class="bi bi-bookmark"></i>
      <span>Categories</span>
    </div>
    <a href="#" class="text-white" (click)="openModal(modalCreateCategory)">
      <i class="bi bi-plus-circle"></i>
    </a>
  </div>

  <ul class="list-unstyled ps-4 d-flex flex-column gap-2">
    <li *ngFor="let category of categories" class="sidebar-item">
      <div class="d-flex justify-content-between align-items-center">
        <a href="#" class="text-white text-decoration-none py-1 flex-grow-1">
          {{ category.name }}
        </a>
        <div class="sidebar-actions">
          <i class="bi bi-pencil text-white me-2 cursor-pointer"></i>
          <i
            class="bi bi-trash text-danger cursor-pointer"
            (click)="deleteCategory(category.id)"
          ></i>
        </div>
      </div>
    </li>
  </ul>
  <div
    class="d-flex justify-content-between align-items-center text-white px-3 mb-2"
  >
    <div class="d-flex align-items-center gap-2">
      <i class="bi bi-people"></i>
      <span>Grupos</span>
    </div>
    <a href="#" class="text-white" (click)="openModal(modalCreateGroup)">
      <i class="bi bi-plus-circle"></i>
    </a>
  </div>

  <ul class="list-unstyled ps-4 d-flex flex-column gap-2">
    <li *ngFor="let group of groups" class="sidebar-item">
      <div class="d-flex justify-content-between align-items-center">
        <a href="#" class="text-white text-decoration-none py-1 flex-grow-1">
          {{ group.name }}
        </a>
        <div class="sidebar-actions">
          <i class="bi bi-pencil text-white me-2 cursor-pointer"></i>
          <i
            class="bi bi-trash text-danger cursor-pointer"
            (click)="deleteGroup(group.id)"
          ></i>
        </div>
      </div>
    </li>
  </ul>
</div>

<ng-template #modalCreateCategory let-modal>
  <div class="modal-header">
    <h5 class="modal-title">Create category</h5>
    <button type="button" class="btn-close" (click)="modal.dismiss()"></button>
  </div>
  <div class="modal-body">
    <input
      type="text"
      class="form-control"
      [(ngModel)]="newCategoryName"
      placeholder="Category name"
    />
  </div>
  <div class="modal-footer">
    <button class="btn btn-secondary" (click)="modal.close()">Cancel</button>
    <button class="btn btn-success" (click)="createCategory(modal)">
      Save
    </button>
  </div>
</ng-template>

<ng-template #modalCreateGroup let-modal>
  <div class="modal-header">
    <h5 class="modal-title">Create Group</h5>
    <button type="button" class="btn-close" (click)="modal.dismiss()"></button>
  </div>
  <div class="modal-body">
    <input
      type="text"
      class="form-control"
      [(ngModel)]="newGroupName"
      placeholder="Group name"
    />
  </div>
  <div class="modal-footer">
    <button class="btn btn-secondary" (click)="modal.close()">Cancel</button>
    <button class="btn btn-success" (click)="createGroup(modal)">
      Save
    </button>
  </div>
</ng-template>
